.gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 16px);
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 8px;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img,
.gallery-item:hover video {
    transform: scale(1.05);
}

.loading {
    margin: 32px 0;
    font-size: 20px;
    color: #555;
    text-align: center;
}

.observer-trigger {
    height: 1px;
    width: 100%;
}
