#progress-container {
    position: fixed;
    top: 0;
    left: 45px;
    width: 73px;
    height: 100vh;
    background: transparent;
    padding-top: 48px;
    border-left: 1px solid #ffffff4a;
    border-right: 1px solid #ffffff4a;
    z-index: 995;
}

#progress-bar {
    width: 100%;
    height: 0;
    background: #ffffff;
    transition: height 0.2s ease-out;
    max-height: calc(100vh - 48px);
}

#progress-container .logo-black {
    position: absolute;
    top: 70px;
}

@media (max-width: 768px) {
    #progress-container {
        display: none;
    }

    #progress-bar {
        display: none;
    }
}
