.about-page {
    display: flex;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif !important;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.about-page-container {
    padding: 180px 50px 0 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-banner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.under-logo {
    position: absolute;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(128, 128, 128, 0)) text;
    color: transparent;
    opacity: 0.04;
    font-size: 13em;
    font-weight: 900;
    text-transform: uppercase;
}

.about-name {
    color: var(--white-color);
    font-family: "Space Grotesk", sans-serif !important;
    letter-spacing: .025em;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 3.5rem;
    height: 175px;
    font-size: 5rem;
    line-height: 90px;
}

.image-banner-about {
    width: 100%;
    height: auto;
}

.about-detail-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 100px;
}

.about-detail-top {
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    height: 250px;
    min-height: 250px;
}

.about-detail-top-description {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.des-top {
    color: var(--white-color);
    letter-spacing: .025em;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
}

.des-bottom {
    color: var(--white-color);
    letter-spacing: -.025em;
    line-height: 1rem;
    font-weight: 300;
    font-size: .75rem;
    max-width: 100%;
    width: 100%;
    margin-top: .75rem;
}

.about-detail-top-action {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-top-button {
    text-decoration: none;
    color: var(--black-color);
    width: 147px;
    height: 51px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    align-items: center;
    font-size: .75rem;
    line-height: 1rem;
}

.about-detail-bottom {
    display: flex;
    gap: 20px;
}

.about-detail-bottom-left,
.about-detail-bottom-right,
.about-detail-top {
    border: 1px solid var(--white-color);
    padding: 1rem;
}

.about-detail-bottom-left,
.about-detail-bottom-right {
    max-height: 400px;
}

.about-detail-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-detail-bottom-right {
    width: 100%;
}

.about-detail-bottom-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.des-bottom-list {
    color: var(--white-color);
    letter-spacing: -.025em;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: .75rem;
    list-style-type: disc;
    list-style-position: inside;
    margin-top: .75rem;
    margin: 0;
    padding: 0;
}

.des-bottom-list li {
    opacity: .7;
}

@media (min-width: 1600px) {
    .about-page-container {
        flex-direction: row;
    }

    .about-banner-container {
        width: 60%;
    }

    .about-detail-container {
        width: 40%;
    }

    .about-detail-bottom-left,
    .about-detail-bottom-right {
        width: 50%;
    }

    .about-detail-bottom {
        height: calc(100% - 250px);
    }
}

@media (max-width: 768px) {
    .about-detail-top {
        flex-direction: column;
        height: unset;
    }

    .about-detail-bottom {
        flex-direction: column;
    }

    .about-detail-bottom-left {
        max-height: unset;
    }
}
